.grid-container-two-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.box {
  border: 1px solid var(--text-color-primary);
  border-radius: 8px;
  padding: 1rem;
}

.container {
  width: 20rem;
  height: 33rem;
  background-color: var(--primary-color);
  border-radius: 4px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
}

.flex-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.gap-1rem {
  gap: 1rem;
}

.img-box {
  width: 17rem;
  height: 17rem;
  object-fit: cover;
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.bg-color {
  background-color: var(--secondary-color);
}

.details {
  color: var(--text-color-primary);
}

.title {
  margin: 1rem 0;
}

.play-now-btn {
  background-color: var(--bg-color);
}

.play-now-link-btn {
  color: var(--text-color-primary);
  text-decoration: none;
  width: 100%;
}

.button {
  padding: 0.25rem .5rem;
}
  