.heading {
  padding: 1rem 4rem;
  background-color: var(--bg-color);
  width: 100vw;
  overflow: hidden;
  z-index: 1;
}

.logo {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}

.search-box {
  width: 18rem;
  padding-left: 2rem;
  font-size: 1rem;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid var(--text-color-primary);
  color: var(--text-color-primary)
}

.search-box:focus {
  outline: none;
}

.search-icon {
  top: 8px;
  left: 4px;
}

.search-box-container {
  margin-left: auto;
}

.navigation {
  margin-left: auto;
}